<link rel='stylesheet' href='~/css/site.css' />
<div class=form-contain>
    <form method='post' asp-action="HelloView">
        <h1>Enter your name:</h1>
        <input type='text' name='FirstName' />
        <button type='submit'>Send</button>
    </form>
</div>